<html>
  <body>
    <!-- Set up your HTML here -->

    <div style="display:flex;width:100%;min-width:160px;height:100px;">
        <button id="btn1" onclick="btn_click(1)">Comment</button>
        <button id="btn2" onclick="btn_click(2)">Upvote</button>
    </div>

    <script>
      // ----------------------------------------------------
      // Just copy/paste these functions as-is:

      function sendMessageToStreamlitClient(type, data) {
        var outData = Object.assign({
          isStreamlitMessage: true,
          type: type,
        }, data);
        window.parent.postMessage(outData, "*");
      }

      function init() {
        sendMessageToStreamlitClient("streamlit:componentReady", {apiVersion: 1});
      }

      function setFrameHeight(height) {
        sendMessageToStreamlitClient("streamlit:setFrameHeight", {height: height});
      }

      // The `data` argument can be any JSON-serializable value.
      function sendDataToPython(data) {
        sendMessageToStreamlitClient("streamlit:setComponentValue", data);
      }

      // ----------------------------------------------------
      // Now modify this part of the code to fit your needs:

      function btn_click(nr) {
        sendDataToPython({
          value: nr,
          dataType: "json",
        });
      }

      var btn1 = document.getElementById("btn1");
      var btn2 = document.getElementById("btn2");

      // data is any JSON-serializable value you sent from Python,
      // and it's already deserialized for you.
      function onDataFromPython(event) {
        if (event.data.type !== "streamlit:render") return;
        var bgcolor = event.data.args.bgc;  // Access values sent from Python here!
        var txcolor = event.data.args.txc;
        btn1.style.backgroundColor = bgcolor;
        btn2.style.backgroundColor = bgcolor;
        btn1.style.color = txcolor;
        btn2.style.color = txcolor;
        btn1.style.borderRadius = '5px';
        btn2.style.borderRadius = '5px';
        btn1.style.padding = "10px 10px 10px 10px";
        btn2.style.padding = "10px 10px 10px 10px";
        btn1.style.marginRight = "10%";
        btn1.style.width ="50%";
        btn1.style.minWidth = "80px";
        btn2.style.width ="50%";
        btn2.style.minWidth = "80px";

        //pglbl.innerHTML = upvotes;
        //pglbl.style.fontFamily = "sans-serif";
        //pglbl.style.fontSize = "small";
        //pglbl.style.textAlign = "center";


      }

      // Hook things up!
      window.addEventListener("message", onDataFromPython);
      init();

      // Hack to autoset the iframe height.
      window.addEventListener("load", function() {
        window.setTimeout(function() {
          setFrameHeight(document.documentElement.clientHeight)
        }, 0);
      });

      // Optionally, if the automatic height computation fails you, give this component a height manually
      // by commenting out below:
      //setFrameHeight(100);
    </script>
  </body>
</html>